{{#each posts as |post| }}
<div class="card text-center border-3">
  <div class="card-header d-flex justify-content-between bg-dark">
    <h4 class="header-gray">{{post.title}}</h4>
    <h6 class="header-gray">Posted by {{ post.user.name }} on {{ format_date post.date }}</h6>
  </div>
  <div class="card-body d-flex">
    {{!-- <h5 class="card-title">Special title treatment</h5> --}}
    <p class="card-text">{{post.content}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
</div>

{{!-- <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">{{post.title}}</h4>
      <div class="card-text">
        <p>{{post.content}}</p>
        <div class="container">
            <div class="row">
              <div class="col">
                Created: {{ format_date post.date}}
              </div>
              <div class="col">
                Needed Funding: {{post.needed_funding}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> --}}
{{/each}}